.plutchik-toasts-container,
.plutchik-toasts-container-modal {
    width: 80%;
    height: fit-content;
    background-color: var(--plutchik-background-color);
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
}

.plutchik-toasts-container-modal {
    width: 100%;
    height: 100%;
    z-index: 100;
}
.plutchik-toasts-fade {
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: gray;
}
.plutchik-toast-container-center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width: 800px;
    position: relative;
    padding: 1em 0 0 0;
}
.plutchik-toast-container-count-label {
    position: absolute;
    right: 0;
    top: -0em;
    border: 1px solid;
    border-radius: 0.5em;
    padding: 0.25em;
    font-size: small;
    background-color: navy;
    color: white;
    border-color: blue;
    cursor: pointer;
}
.plutchik-toast-container-error,
.plutchik-toast-container-warning,
.plutchik-toast-container-info {
    border-width: 1px;
    border-style: solid;
    padding: 1em;
    border-radius: 0.5em;
    margin: 10px;
    position: relative;
}

.plutchik-toast-container-error {
    color: white;
    background-color: brown;
    border-color: red;
}

.plutchik-toast-container-info {
    color: white;
    background-color: limegreen;
    border-color: aquamarine;
}
.plutchik-toast-close-button,
.plutchik-toast-copy-button,
.plutchik-toast-description-button,
.plutchik-toast-description-button-selected {
    position: absolute;
    top: 0em;
    border-style: solid;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    --border-radius: 0.5em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    text-align: center;
}

.plutchik-toast-close-button {
    right: 0em;
}
.plutchik-toast-copy-button {
    right: 2em;
}
.plutchik-toast-description-button,
.plutchik-toast-description-button-selected {
    right: 1em;
}
.plutchik-toast-description-button-selected > span {
    transform: rotate(180deg);
    width: 100%;
    text-align: center;
    display: block;
}

.plutchik-toast-close-button > span {
    transform: rotate(45deg);
    width: 100%;
    text-align: center;
    display: block;
}
.plutchik-toast-message {
    text-wrap: wrap;
}

.plutchik-toast-description {
    font-size: small;
    max-height: 4em;
    overflow: auto;
}
